<%- layout("layouts/boilerplate") -%>
<body>
   <br><br>
   <h2><%= listing.title %></h2>
   <div class="col">
      <div class="card mb-3">
         <img src="<%= listing.image %> " class="card-img-top" alt="listing_image" style="height: 20rem;">
         <div class="card-body">
         </div>
      </div>
   </div>
   <ul>
      <li>Description: <%= listing.description %></li>
      <li>Price: <%= listing.price ? listing.price.toLocaleString("en-IN") : 'Price not available' %></li>
      <li>Country: <%= listing.country %></li>
      <li>Location: <%= listing.location %></li>
   </ul>
   <div class="row">
      <div class="col-6 col-md-4 col-lg-2">
         <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark btn-block">Edit</a>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
         <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button class="btn btn-dark btn-block">Delete</button>
         </form>
      </div>
   </div>
   <br><br>

   <!-- Review Section -->
   <!-- Show existing reviews -->
<h3>Reviews</h3>
<% listing.reviews.forEach(review => { %>
    <p><%= review.text %></p>
<% }); %>

<!-- Form to add new review -->
<form action="/listings/<%= listing._id %>/reviews" method="POST">
    <label for="text">Add a Review:</label>
    <input type="text" id="text" name="text">
    <button type="submit">Submit</button>
</form>

</body>
